<!DOCTYPE html>
<html class=" ">

    <body class=" ">
        <!-- START TOPBAR -->
        <div class='page-topbar '>
            <div class='logo-area'>
            </div>
            <div class='quick-area'>
                <div class='pull-left'>
                    <ul class="info-menu left-links list-inline list-unstyled">
                        <li class="sidebar-toggle-wrap">
                            <a href="javascript:;" data-toggle="sidebar" class="sidebar_toggle">
                            <i class="fa fa-bars"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class='pull-right' id="profile-right">
                    <ul class="info-menu right-links list-inline list-unstyled">
                        <li class="profile">
                            <a href="#" data-toggle="dropdown" class="toggle">
                            <img src="assets/upload/vannguyen.jpg"  alt="user-image" class="img-circle img-inline avatar">
                            <span class="name"> <i class="fa fa-angle-down"></i></span>
                            </a>
                            <ul class="dropdown-menu profile animated fadeIn">
                                
                               
                                <li class="last">
                                    <a href="/logout">
                                    <i class="fa fa-lock"></i>
                                    Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-container row-fluid container-fluid">
          <div class="page-sidebar pagescroll">
            <!-- MAIN MENU - START -->
            <div class="page-sidebar-wrapper" id="main-menu-wrapper">
                <!-- USER INFO - START -->
                <div class="profile-info row">
                    <div class="profile-image col-xs-4">
                        <a href="ui-profile.html">
                        <img alt=""  src="assets/upload/vannguyen.jpg" class="img-responsive img-circle avatar">
                        </a>
                    </div>
                    <div class="profile-details col-xs-8">
                        <h3>
                            <a href="ui-profile.html" class="name">Raubb</a>
                            <!-- Available statuses: online, idle, busy, away and offline -->
                            <span class="profile-status online"></span>
                        </h3>
                        <p class="profile-title">Web Bán Rau Hữu Cơ</p>
                    </div>
                </div>
                <!-- USER INFO - END -->
                <ul class='wraplist'>
                    <li class='menusection'>Main</li>
                    <li class="open"> 
                        <a href="/">
                        <i class="fa fa-dashboard"></i>
                        <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;">
                        <i class="fa fa-suitcase"></i>
                        <span class="title">Category</span>
                        <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu" >
                                <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                                    <a routerLink="/danh-sach">Danh Sách</a></li> -->
                            <li>
                                <a class=""  href="/danh-sach"  >Danh Sách</a>
                            </li>
                            <li>
                                <a class="" href="admin/cate/them-cate"  >Thêm</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:;">
                        <i class="fa fa-suitcase"></i>
                        <span class="title">Sản Phẩm</span>
                        <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu" >
                            
                            <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                            <a routerLink="/danhsach-sanpham">Danh Sách</a></li>  -->
                            <li>
                                <a class=""  href="/danhsach-sanpham"  >Danh Sách</a>
                            </li>           
                            <li>
                                <a class="" href="/admin-sanpham-them-sanpham"  >Thêm</a>
                            </li>
                        </ul>
                    </li>
        
                    <li class="">
                        <a href="javascript:;">
                        <i class="fa fa-suitcase"></i>
                        <span class="title">Đơn Hàng</span>
                        <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu" >
                            <li>
                                <a class="" href="admin/cart/danh-sach"  >Danh Sách</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:;">
                        <i class="fa fa-suitcase"></i>
                        <span class="title">Quản Lí Khách Hàng</span>
                        <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu" >
                            <li>
                                <a class="" href="admin/danhsach-user"  >Danh Sách</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- MAIN MENU - END -->
        </div>
        

    <!--  SIDEBAR - END -->
    <!-- START CONTENT -->
    
    <!-- END CONTENT -->
    <div class="chatapi-windows ">

    </div>
        </div>